[Desktop Entry]
Version=1.0
Type=Application

Name=newbase demo
Comment=Demo for the newbase engine
Categories=Game;

Icon=br.eng.camargo.newbase.demo
Exec=newbase_demo
Terminal=false