[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/stb"]
	path = vendored/stb
	url = https://github.com/nothings/stb.git
[submodule "vendored/imgui"]
	path = vendored/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendored/rapidyaml"]
	path = vendored/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "vendored/eigen"]
	path = vendored/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendored/glm"]
	path = vendored/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendored/entt"]
	path = vendored/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendored/sol2"]
	path = vendored/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "vendored/tracy"]
	path = vendored/tracy
	url = https://github.com/wolfpld/tracy.git
