build
build_ems
build_distcc
out
wbuild
compile_commands.json

emsdk
vendored/steamworks-sdk

CMake*.json
**.kdev4
.kdev4/
**.kate-swp
**/**.kate-swp
imgui.ini
.vscode
.cache

demo/res/bad.ogg 
demo/res/good.ogg 
demo/res/ok.ogg
