[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/stb"]
	path = vendored/stb
	url = https://github.com/nothings/stb.git
[submodule "vendored/rapidyaml"]
	path = vendored/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "vendored/eigen"]
	path = vendored/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendored/glm"]
	path = vendored/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendored/entt"]
	path = vendored/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendored/tracy"]
	path = vendored/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "vendored/ymfm"]
	path = vendored/ymfm
	url = https://github.com/aaronsgiles/ymfm.git
[submodule "vendored/box2d"]
	path = vendored/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "vendored/imgui"]
	path = vendored/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendored/imgui-node-editor"]
	path = vendored/imgui-node-editor
	url = https://github.com/lucaspcamargo/imgui-node-editor.git
[submodule "vendored/SGDK"]
	path = vendored/SGDK
	url = https://github.com/Stephane-D/SGDK.git
[submodule "vendored/tinygettext"]
	path = vendored/tinygettext
	url = https://github.com/tinygettext/tinygettext.git
[submodule "vendored/imgui-markdown"]
	path = vendored/imgui-markdown
	url = https://github.com/juliettef/imgui_markdown.git
[submodule "vendored/ImGuizmo"]
	path = vendored/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendored/SDL_shadercross"]
	path = vendored/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
[submodule "vendored/cpp-httplib"]
	path = vendored/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
